@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@import 'tailwindcss';

:root {
  @apply text-white font-mojo;
}

@theme {
  --color-global: #121212;
  --color-element: #1f1f1f;


  --font-mojo: "Nova Mono";
}

@layer components {
  .box {
    @apply 
      border-2 
      rounded-xl 
      bg-element 
      border-element 
      shadow-lg 
      shadow-black
  }
}