@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@import 'tailwindcss';

:root {
  @apply text-white;
}

@theme {
  --color-global: #121212;
  --color-body: #1f1f1f;


  --font-mojo: "Nova Mono";
}